numpy==2.1
pandas
scikit-learn
jupyter
jupyterlab
jupyter-contrib-nbextensions
ipykernel
#ydata-profiling[notebook]
#ydata-sdk
tk
setuptools
#wheel
pip
xgboost
matplotlib
seaborn
joblib

#python 3.12 works best for ydata